################################################################################################################################################################

# @project        ESP 8266
# @file           .gitignore
# @author         Lucas Brémond <lucas.bremond@gmail.com>
# @license        MIT License

################################################################################################################################################################

out/
thirdparty/
files/settings.json

################################################################################################################################################################
